body
	background-color: #003E6F
	color: white

h1
	font-size: 36px
	font-family: 'novecento_wide_bookbold'

p
	font-family: 'museo_sans100'
	font-size: 20px
label
	font-family: 'museo_sans700'
	font-size: 20px
h2	
	font-family: 'museo_sans700'
	
a
	font-family: 'museo_sans100'
	color: white	
	font-size: 19px
	font-weight: bold
	&:hover
		color: white
		opacity: 0.6
		text-decoration: none
.bg-blue
	background: #6AC3EB
.cl-blue
	color: #6AC3EB
.inline
	display: inline
.italic
	font-style: italic
.text-4
	position: relative
	clear: both
	z-index: 3
	width: 52.25390625%
	min-height: 55px
	margin: -11px 0 0 17.41276%
	font-size: 1em
	font-weight: 400
	text-align: justify
	color: #6ac3ec
.strong
	font-weight: bold

.main
	.logo
		img,
		h1,
			display: inline
			margin: 40px 5px
		img
			width: 100px
.twitter-bg
	background: #6AC3EA

.btn-twitter-login
	background: #6AC3EA
	color: white
	font-family: museo_sans700
	font-size: 25px

	i
		font-size: 30px
	&:hover
		color: white
		opacity: 0.7
		margin-left: 1px
img
	&.avatar
		width: 80px

