@font-face
  font-family: 'novecento_widebook'
  src: url('fonts/novecentowide-book-webfont.eot')
  src: url('fonts/novecentowide-book-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/novecentowide-book-webfont.woff') format("woff"), url('fonts/novecentowide-book-webfont.ttf') format("truetype"), url('fonts/novecentowide-book-webfont.svg#novecento_widebook') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'novecento_wide_bookbold'
  src: url('fonts/novecentowide-bold-webfont.eot')
  src: url('fonts/novecentowide-bold-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/novecentowide-bold-webfont.woff') format("woff"), url('novecentowide-bold-webfont.ttf') format("truetype"), url('fonts/novecentowide-bold-webfont.svg#novecento_wide_bookbold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'novecento_widenormal'
  src: url('fonts/novecentowide-normal-webfont.eot')
  src: url('fonts/novecentowide-normal-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/novecentowide-normal-webfont.woff') format("woff"), url('fonts/novecentowide-normal-webfont.ttf') format("truetype"), url('fonts/novecentowide-normal-webfont.svg#novecento_widenormal') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'novecento_widedemibold'
  src: url('fonts/novecentowide-demibold-webfont.eot')
  src: url('fonts/novecentowide-demibold-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/novecentowide-demibold-webfont.woff') format("woff"), url('fonts/novecentowide-demibold-webfont.ttf') format("truetype"), url('fonts/novecentowide-demibold-webfont.svg#novecento_widedemibold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans100'
  src: url('fonts/museosans-100-webfont.eot')
  src: url('fonts/museosans-100-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans-100-webfont.woff') format("woff"), url('fonts/museosans-100-webfont.ttf') format("truetype"), url('fonts/museosans-100-webfont.svg#museo_sans100') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans700'
  src: url('fonts/museosans_700-webfont.eot')
  src: url('fonts/museosans_700-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans_700-webfont.woff') format("woff"), url('fonts/museosans_700-webfont.ttf') format("truetype"), url('fonts/museosans_700-webfont.svg#museo_sans700') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans500'
  src: url('fonts/museosans_500-webfont-webfont.eot')
  src: url('fonts/museosans_500-webfont-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans_500-webfont-webfont.woff') format("woff"), url('fonts/museosans_500-webfont-webfont.ttf') format("truetype"), url('fonts/museosans_500-webfont-webfont.svg#museo_sans500') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans500_italic'
  src: url('fonts/museosans_500_italic-webfont.eot')
  src: url('fonts/museosans_500_italic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans_500_italic-webfont.woff') format("woff"), url('fonts/museosans_500_italic-webfont.ttf') format("truetype"), url('fonts/museosans_500_italic-webfont.svg#museo_sans500_italic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans500'
  src: url('fonts/museosans_500-webfont.eot')
  src: url('fonts/museosans_500-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans_500-webfont.woff') format("woff"), url('fonts/museosans_500-webfont.ttf') format("truetype"), url('fonts/museosans_500-webfont.svg#museo_sans500') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans900_italic'
  src: url('fonts/museosans-900italic-webfont.eot')
  src: url('fonts/museosans-900italic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans-900italic-webfont.woff') format("woff"), url('fonts/museosans-900italic-webfont.ttf') format("truetype"), url('fonts/museosans-900italic-webfont.svg#museo_sans900_italic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans700_italic'
  src: url('fonts/museosans-700italic-webfont.eot')
  src: url('fonts/museosans-700italic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans-700italic-webfont.woff') format("woff"), url('fonts/museosans-700italic-webfont.ttf') format("truetype"), url('fonts/museosans-700italic-webfont.svg#museo_sans700_italic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans300_italic'
  src: url('fonts/museosans-300italic-webfont.eot')
  src: url('fonts/museosans-300italic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans-300italic-webfont.woff') format("woff"), url('fonts/museosans-300italic-webfont.ttf') format("truetype"), url('fonts/museosans-300italic-webfont.svg#museo_sans300_italic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans300'
  src: url('fonts/museosans-300-webfont.eot')
  src: url('fonts/museosans-300-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans-300-webfont.woff') format("woff"), url('fonts/museosans-300-webfont.ttf') format("truetype"), url('fonts/museosans-300-webfont.svg#museo_sans300') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans900'
  src: url('fonts/museosans_900-webfont.eot')
  src: url('fonts/museosans_900-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans_900-webfont.woff') format("woff"), url('fonts/museosans_900-webfont.ttf') format("truetype"), url('fonts/museosans_900-webfont.svg#museo_sans900') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans100_italic'
  src: url('fonts/museosans-100italic-webfont.eot')
  src: url('fonts/museosans-100italic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/museosans-100italic-webfont.woff') format("woff"), url('fonts/museosans-100italic-webfont.ttf') format("truetype"), url('fonts/museosans-100italic-webfont.svg#museo_sans100_italic') format("svg")
  font-weight: normal
  font-style: normal